repositories:
- name: postgres-operator
  url: https://opensource.zalando.com/postgres-operator/charts/postgres-operator
- name: vcverifier
  url: https://fiware.github.io/helm-charts
- name: mockserver
  url: https://www.mock-server.com

releases:
- name: psql
  namespace: odrl-authorization
  chart: postgres-operator/postgres-operator
  version: 1.13.0
  hooks:
    - events: ["postsync"]
      showlogs: true
      command: "kubectl"
      args:
        - "apply"
        - "-n"
        - "{{ .Release.Namespace }}"
        - "-f"
        - "./config/postgresql.yaml"
    - events: ["preuninstall"]
      showlogs: true
      command: "kubectl"
      args:
        - "delete"
        - "-n"
        - "{{ .Release.Namespace }}"
        - "-f"
        - "./config/postgresql.yaml"
- name: mockserver
  namespace: odrl-authorization
  chart: mockserver/mockserver
  # force that ns exists
  needs:
    - psql
  hooks:
  - events: ["presync"]
    showlogs: true
    command: "kubectl"
    args:
      - "apply"
      - "-n"
      - "{{ .Release.Namespace }}"
      - "-f"
      - "./config/mockserver-conf.yaml"
  - events: ["postuninstall"]
    showlogs: true
    command: "kubectl"
    args:
      - "delete"
      - "-n"
      - "{{ .Release.Namespace }}"
      - "-f"
      - "./config/mockserver-conf.yaml"
  values:
    - app:
        mountedConfigMapName: mockserver-config-cm
      service:
        type: ClusterIP
        port: 8080

- name: odrl-authorization
  namespace: odrl-authorization
  chart: ../charts/odrl-authorization
  version: 1.0.0
  needs:
    - mockserver
    - psql
  values:
    - apisix:
        ingress-controller:
          apisix:
            adminService:
              name: odrl-authorization-apisix-admin
          config:
            provider:
              type: apisix-standalone
        apisix:
          deployment:
            role: traditional
            role_traditional:
              config_provider: yaml
        ingress:
          enabled: true
          hostname: apisix.127.0.0.1.nip.io
          hosts:
            - host: apisix.127.0.0.1.nip.io
              paths: ["/"]
        service:
          http:
            nodePort: 30080
        catchAllRoute:
          enabled: false
        routes:
          - host: apisix.127.0.0.1.nip.io
            uri: "/*"
            upstream:
              nodes:
                mockserver:8080: 1
              type: roundrobin
            plugins:
              openid-connect:
                client_id: ""
                client_secret: the-secret
                bearer_only: true
                use_jwks: true
                discovery: http://mockserver:8080/.well-known/openid-configuration
              opa:
                host: http://localhost:8181
                policy: policy/main
                with_body: true
          - host: pap.127.0.0.1.nip.io
            uri: /*
            upstream:
              nodes:
                odrl-pap:8080: 1
        etcd:
          enabled: false
        opa:
          config:
            policies:
              minDelay: 1
              maxDelay: 1
          apisix:
            adminService:
              namespace: odrl-authorization
              name: odrl-authorization-apisix-admin
      odrl-pap:
        database:
          url: jdbc:postgresql://postgres:5432/odrl
          username: odrl
          existingSecret:
            enabled: true
            name: odrl.postgres.credentials.postgresql.acid.zalan.do
            key: password
        ingress:
          enabled: true
          hosts:
          - host: pap.127.0.0.1.nip.io
            paths:
              - "/"