name: Test
on:
  push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: '17'
          java-package: jdk

      - name: Install Kubectl
        uses: azure/setup-kubectl@v4
        id: install-kubectl

      - name: Install Helm and Helmfile
        uses: helmfile/helmfile-action@v2.0.4
        with:
          helm-version: v3.19.2
          helmfile-args: "--version"

      - name: Add repositories
        run: |
          for dir in $(ls -d charts/*/); do
            helm dependency list $dir 2> /dev/null | tail +2 |  sed '$d' | awk '{ print "helm repo add " $1 " " $3 }' | while read cmd; do $cmd; done
          done

      - name: Ensure br_netfilter is enabled.
        run: |
          sudo modprobe br_netfilter

      - name: Execute tests
        id: test
        run: |
          mvn clean integration-test -Ptest